In [1]:
import re
import string
import pandas as pd
import numpy as np
from datetime import datetime

import warnings
warnings.filterwarnings("ignore")

In [2]:
pcsvpath = '../pollen/datafile.csv'
sample = pd.read_csv(pcsvpath)

In [3]:
sample

                       date   lat    lon      t     2t
0                2000-01-01 -10.0  113.0  302.2  300.6
1                2000-01-01 -10.0  114.0  302.2  300.8
2                2000-01-01 -10.0  115.0  302.2  301.3
3                2000-01-01 -10.0  116.0  302.4  301.9
4                2000-01-01 -10.0  117.0  302.5  302.3
...                     ...   ...    ...    ...    ...
177067  2000-01-31 18:00:00 -43.0  150.0  289.4  287.9
177068  2000-01-31 18:00:00 -43.0  151.0  289.1  287.3
177069  2000-01-31 18:00:00 -43.0  152.0  288.9  287.4
177070  2000-01-31 18:00:00 -43.0  153.0  288.6  287.4
177071  2000-01-31 18:00:00 -43.0  154.0  288.6  287.5

[177072 rows x 5 columns]

t : surface level temp </br>
2t: temp at 2m level </br>

In [4]:
sample.dtypes

date     object
lat     float64
lon     float64
t       float64
2t      float64
dtype: object

## Preprocessing

In [5]:
def kelvinToCelsius(kelvin):
    
    return kelvin - 273.15

### 1. Filter Melbourne 
Coord for Melbourne: -37.814, 144.96332

In [6]:
# consider the grid

melbourne = [-37.814, 144.96332]
lat = float(round(melbourne[0])) # -38
lon = float(round(melbourne[1])) # 145

sample_mel = sample[(sample['lat'] == lat) & (sample['lon'] == lon)]

### 2. Convert unit

In [7]:
# convert unit
sample_mel['t_C'] = sample_mel['t'].apply(kelvinToCelsius)
sample_mel['2t_C'] = sample_mel['2t'].apply(kelvinToCelsius)

### 3. Datetime

In [8]:
## utc->aest

sample_mel['datetime'] = pd.to_datetime(sample_mel['date'], format='%Y-%m-%d %H:%M:%S')

sample_mel = sample_mel.drop(['date', 't', '2t', 'lat', 'lon'], axis=1)

sample_mel

              t_C   2t_C            datetime
1208    15.450000  15.15 2000-01-01 00:00:00
2636    19.150000  18.25 2000-01-02 00:00:00
4064    25.150000  24.75 2000-01-03 00:00:00
5492    11.350000  11.45 2000-01-04 00:00:00
6920    11.250000  11.35 2000-01-05 00:00:00
...           ...    ...                 ...
171140  15.050000  13.25 2000-01-27 18:00:00
172568  14.550024  12.95 2000-01-28 18:00:00
173996  14.250000  12.25 2000-01-29 18:00:00
175424  13.450000  11.15 2000-01-30 18:00:00
176852  14.050000  12.25 2000-01-31 18:00:00

[124 rows x 3 columns]

In [9]:
from dateutil import tz

# METHOD 2: Auto-detect zones:
from_zone = tz.tzutc()
to_zone = tz.tzlocal()

# utc = datetime.utcnow()
utc = datetime.strptime('2000-01-31 18:00:00', '%Y-%m-%d %H:%M:%S')

# Tell the datetime object that it's in UTC time zone since 
# datetime objects are 'naive' by default
utc = utc.replace(tzinfo=from_zone)

# Convert time zone
local = utc.astimezone(to_zone).strftime('%Y-%m-%d %H:%M:%S')

print(local)

2000-02-01 05:00:00

## handle with different features

In [10]:
df_new = sample_mel.copy()

# extract date
df_new['date'] = df_new['datetime'].dt.strftime('%Y-%m-%d')

# extract hour
df_new['hour'] = df_new['datetime'].dt.hour

# print out four hour
df_new['hour'].value_counts().index.to_list()

[0, 6, 12, 18]

In [11]:
# df_new[df_new['date'] == '2000-01-01']

### Create new columns for 4 hours

In [12]:
def new_hour_df(df, hour):

    data_h_new = df[df['hour'] == hour]

    data_h_new = data_h_new.set_index('date')   

    data_h_new.rename(columns = {'t_C':'t_' + str(hour) + '_1d', '2t_C':'2t_' + str(hour) + '_1d'}, inplace = True)
    
    data_h_new = data_h_new.drop(['hour', 'datetime'], axis=1)
    
    return data_h_new

In [13]:
df_0 = new_hour_df(df_new, 0)
df_6 = new_hour_df(df_new, 6)
df_12 = new_hour_df(df_new, 12)
df_18 = new_hour_df(df_new, 18)

In [14]:
df_12

            t_12_1d  2t_12_1d
date
2000-01-01    10.85     10.85
2000-01-02    15.65     15.55
2000-01-03    13.95     13.45
2000-01-04     8.85      9.05
2000-01-05    10.25     10.45
2000-01-06    10.95     11.05
2000-01-07    13.85     13.95
2000-01-08    19.85     19.75
2000-01-09    21.85     21.55
2000-01-10    22.65     22.55
2000-01-11    19.55     19.65
2000-01-12    21.15     21.25
2000-01-13    21.55     21.65
2000-01-14    21.85     21.75
2000-01-15    20.05     19.85
2000-01-16    13.05     13.05
2000-01-17    19.85     19.85
2000-01-18    29.95     29.55
2000-01-19    17.55     17.55
2000-01-20    17.45     17.35
2000-01-21    11.75     11.65
2000-01-22     8.65      8.75
2000-01-23     9.85      9.85
2000-01-24    17.15     16.35
2000-01-25    17.65     17.55
2000-01-26    15.85     15.05
2000-01-27    15.75     14.55
2000-01-28    14.65     13.15
2000-01-29    14.65     12.85
2000-01-30    14.65     12.35
2000-01-31    15.25     13.85

### Calculate the mean/min/max of 4 hours for one day

In [15]:
# group by date with hours by mean
df_mean = df_new.groupby('date')[['t_C', '2t_C']].mean()

df_mean.rename(columns = {'t_C':'t_mean_1d', '2t_C':'2t_mean_1d'}, inplace = True)

df_mean

            t_mean_1d  2t_mean_1d
date
2000-01-01  12.725000      12.600
2000-01-02  18.575000      18.275
2000-01-03  18.450000      18.150
2000-01-04  10.425000      10.525
2000-01-05  11.150000      11.200
2000-01-06  12.875000      12.800
2000-01-07  15.350000      15.125
2000-01-08  21.325000      20.950
2000-01-09  23.850006      23.525
2000-01-10  23.500000      23.200
2000-01-11  23.100000      22.825
2000-01-12  23.575000      23.200
2000-01-13  24.325000      24.025
2000-01-14  24.950000      24.525
2000-01-15  22.675000      22.375
2000-01-16  14.825000      14.625
2000-01-17  22.025000      21.625
2000-01-18  27.900000      27.450
2000-01-19  19.800000      19.425
2000-01-20  18.800000      18.500
2000-01-21  12.650000      12.625
2000-01-22  11.025000      11.050
2000-01-23  11.025000      10.875
2000-01-24  18.350000      17.450
2000-01-25  18.050000      18.025
2000-01-26  17.450000      17.075
2000-01-27  16.125000      15.025
2000-01-28  15.425006      13.850
2000-01-29  15.375000      13.800
2000-01-30  15.325000      13.550
2000-01-31  16.425000      15.400

In [16]:
# group by date with hours by min
df_min = df_new.groupby('date')[['t_C', '2t_C']].min()

df_min.rename(columns = {'t_C':'t_min_1d', '2t_C':'2t_min_1d'}, inplace = True)

df_min

             t_min_1d  2t_min_1d
date
2000-01-01   6.950000       7.25
2000-01-02  14.650000      14.95
2000-01-03   9.350000       9.45
2000-01-04   8.850000       9.05
2000-01-05   9.850000       9.95
2000-01-06   9.850000       9.95
2000-01-07  10.050000      10.05
2000-01-08  16.050000      16.05
2000-01-09  19.550000      19.45
2000-01-10  14.650000      14.65
2000-01-11  16.050000      16.15
2000-01-12  16.150000      16.25
2000-01-13  16.550000      16.75
2000-01-14  14.450000      14.15
2000-01-15  17.350000      17.45
2000-01-16   4.750000       4.75
2000-01-17  16.650000      16.75
2000-01-18  19.850000      19.45
2000-01-19  14.850000      14.75
2000-01-20  12.550000      12.55
2000-01-21   9.550000       9.75
2000-01-22   7.350000       7.75
2000-01-23   6.450000       6.65
2000-01-24  15.650000      14.55
2000-01-25  17.450000      17.05
2000-01-26  15.550000      14.55
2000-01-27  15.050000      13.25
2000-01-28  14.550024      12.95
2000-01-29  14.250000      12.25
2000-01-30  13.450000      11.15
2000-01-31  14.050000      12.25

In [17]:
# group by date with hours by max
df_max = df_new.groupby('date')[['t_C', '2t_C']].max()

df_max.rename(columns = {'t_C':'t_max_1d', '2t_C':'2t_max_1d'}, inplace = True)

df_max

            t_max_1d  2t_max_1d
date
2000-01-01     17.65      17.15
2000-01-02     24.85      24.35
2000-01-03     25.35      24.95
2000-01-04     12.55      12.35
2000-01-05     13.25      13.05
2000-01-06     15.85      15.65
2000-01-07     20.45      19.95
2000-01-08     27.05      26.55
2000-01-09     28.25      27.85
2000-01-10     30.65      29.95
2000-01-11     29.15      28.55
2000-01-12     31.35      30.35
2000-01-13     30.95      30.25
2000-01-14     34.65      33.75
2000-01-15     27.05      26.85
2000-01-16     22.15      21.75
2000-01-17     28.95      28.45
2000-01-18     34.55      33.85
2000-01-19     26.15      25.25
2000-01-20     25.05      24.45
2000-01-21     15.65      15.45
2000-01-22     14.35      13.95
2000-01-23     14.75      14.25
2000-01-24     22.65      21.85
2000-01-25     19.35      19.85
2000-01-26     19.75      20.15
2000-01-27     17.25      16.75
2000-01-28     16.45      14.75
2000-01-29     16.85      15.45
2000-01-30     17.45      16.35
2000-01-31     19.25      19.55

In [18]:
df = df_0.join(df_6).join(df_12).join(df_18).join(df_mean).join(df_min).join(df_max)
df

,t_0_1d,2t_0_1d,t_6_1d,2t_6_1d,t_12_1d,2t_12_1d,t_18_1d,2t_18_1d,t_mean_1d,2t_mean_1d,t_min_1d,2t_min_1d,t_max_1d,2t_max_1d
date,,,,,,,,,,,,,,
2000-01-01,15.450000,15.15,17.65,17.15,10.85,10.85,6.950000,7.25,12.725000,12.600,6.950000,7.25,17.65,17.15
2000-01-02,19.150000,18.25,24.85,24.35,15.65,15.55,14.650000,14.95,18.575000,18.275,14.650000,14.95,24.85,24.35
2000-01-03,25.150000,24.75,25.35,24.95,13.95,13.45,9.350000,9.45,18.450000,18.150,9.350000,9.45,25.35,24.95
2000-01-04,11.350000,11.45,12.55,12.35,8.85,9.05,8.950000,9.25,10.425000,10.525,8.850000,9.05,12.55,12.35
2000-01-05,11.250000,11.35,13.25,13.05,10.25,10.45,9.850000,9.95,11.150000,11.200,9.850000,9.95,13.25,13.05
2000-01-06,14.850000,14.55,15.85,15.65,10.95,11.05,9.850000,9.95,12.875000,12.800,9.850000,9.95,15.85,15.65
2000-01-07,17.050000,16.55,20.45,19.95,13.85,13.95,10.050000,10.05,15.350000,15.125,10.050000,10.05,20.45,19.95
2000-01-08,22.350000,21.45,27.05,26.55,19.85,19.75,16.050000,16.05,21.325000,20.950,16.050000,16.05,27.05,26.55
2000-01-09,25.750024,25.25,28.25,27.85,21.85,21.55,19.550000,19.45,23.850006,23.525,19.550000,19.45,28.25,27.85
2000-01-10,26.050000,25.65,30.65,29.95,22.65,22.55,14.650000,14.65,23.500000,23.200,14.650000,14.65,30.65,29.95
2000-01-11,27.650000,26.95,29.15,28.55,19.55,19.65,16.050000,16.15,23.100000,22.825,16.050000,16.15,29.15,28.55
2000-01-12,25.650000,24.95,31.35,30.35,21.15,21.25,16.150000,16.25,23.575000,23.200,16.150000,16.25,31.35,30.35
2000-01-13,28.250000,27.45,30.95,30.25,21.55,21.65,16.550000,16.75,24.325000,24.025,16.550000,16.75,30.95,30.25
2000-01-14,28.850000,28.45,34.65,33.75,21.85,21.75,14.450000,14.15,24.950000,24.525,14.450000,14.15,34.65,33.75
2000-01-15,26.250000,25.35,27.05,26.85,20.05,19.85,17.350000,17.45,22.675000,22.375,17.350000,17.45,27.05,26.85
2000-01-16,19.350000,18.95,22.15,21.75,13.05,13.05,4.750000,4.75,14.825000,14.625,4.750000,4.75,22.15,21.75
2000-01-17,22.650000,21.45,28.95,28.45,19.85,19.85,16.650000,16.75,22.025000,21.625,16.650000,16.75,28.95,28.45
2000-01-18,27.250000,26.95,34.55,33.85,29.95,29.55,19.850000,19.45,27.900000,27.450,19.850000,19.45,34.55,33.85
2000-01-19,20.650000,20.15,26.15,25.25,17.55,17.55,14.850000,14.75,19.800000,19.425,14.850000,14.75,26.15,25.25
2000-01-20,20.150000,19.65,25.05,24.45,17.45,17.35,12.550000,12.55,18.800000,18.500,12.550000,12.55,25.05,24.45
2000-01-21,13.650000,13.65,15.65,15.45,11.75,11.65,9.550000,9.75,12.650000,12.625,9.550000,9.75,15.65,15.45
2000-01-22,13.750000,13.75,14.35,13.95,8.65,8.75,7.350000,7.75,11.025000,11.050,7.350000,7.75,14.35,13.95
2000-01-23,13.050000,12.75,14.75,14.25,9.85,9.85,6.450000,6.65,11.025000,10.875,6.450000,6.65,14.75,14.25
2000-01-24,17.950000,17.05,22.65,21.85,17.15,16.35,15.650000,14.55,18.350000,17.450,15.650000,14.55,22.65,21.85
2000-01-25,17.750000,17.05,19.35,19.85,17.65,17.55,17.450000,17.65,18.050000,18.025,17.450000,17.05,19.35,19.85
2000-01-26,19.750000,20.15,18.65,18.55,15.85,15.05,15.550000,14.55,17.450000,17.075,15.550000,14.55,19.75,20.15
2000-01-27,16.450000,15.55,17.25,16.75,15.75,14.55,15.050000,13.25,16.125000,15.025,15.050000,13.25,17.25,16.75
2000-01-28,16.050000,14.55,16.45,14.75,14.65,13.15,14.550024,12.95,15.425006,13.850,14.550024,12.95,16.45,14.75
2000-01-29,15.750000,14.65,16.85,15.45,14.65,12.85,14.250000,12.25,15.375000,13.800,14.250000,12.25,16.85,15.45
2000-01-30,15.750000,14.35,17.45,16.35,14.65,12.35,13.450000,11.15,15.325000,13.550,13.450000,11.15,17.45,16.35
2000-01-31,17.150000,15.95,19.25,19.55,15.25,13.85,14.050000,12.25,16.425000,15.400,14.050000,12.25,19.25,19.55

In [19]:
# making variables for t: surface level temp

#df['t_mean_3d'] = df['t_mean_1d'].transform(lambda x: x.rolling(3, center=False).mean())
#df['t_max_3d'] = df['t_max_1d'].transform(lambda x: x.rolling(3, center=False).max())
#df['t_min_3d'] = df['t_min_1d'].transform(lambda x: x.rolling(3, center=False).min())

In [20]:
# check t_mean_3d: (12.725+18.575+18.450)/3 = 16.583333333333332 -> 2000-01-03

In [21]:
# making variables for 2t: temp at 2m level

#df['2t_mean_3d'] = df['2t_mean_1d'].transform(lambda x: x.rolling(3, center=False).mean())
#df['2t_max_3d'] = df['2t_max_1d'].transform(lambda x: x.rolling(3, center=False).max())
#df['2t_min_3d'] = df['2t_min_1d'].transform(lambda x: x.rolling(3, center=False).min())

In [22]:
# write in function 

def make_variables_past_days(var_list, day_list, df):
    
    for var in var_list:
        
        for i in day_list:
        
            df[var + '_mean_' + str(i) + 'd'] = df[var + '_mean_1d'].transform(lambda x: x.rolling(i, center=False).mean())
            df[var + '_max_' + str(i) + 'd'] = df[var + '_max_1d'].transform(lambda x: x.rolling(i, center=False).max())
            df[var + '_min_' + str(i) + 'd'] = df[var + '_min_1d'].transform(lambda x: x.rolling(i, center=False).min())
        
    return df

In [23]:
# displaying the DataFrame
display(make_variables_past_days(['t', '2t'], [3,5,7,30], df))

,t_0_1d,2t_0_1d,t_6_1d,2t_6_1d,t_12_1d,2t_12_1d,t_18_1d,2t_18_1d,t_mean_1d,2t_mean_1d,...,2t_min_3d,2t_mean_5d,2t_max_5d,2t_min_5d,2t_mean_7d,2t_max_7d,2t_min_7d,2t_mean_30d,2t_max_30d,2t_min_30d
date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,15.450000,15.15,17.65,17.15,10.85,10.85,6.950000,7.25,12.725000,12.600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-02,19.150000,18.25,24.85,24.35,15.65,15.55,14.650000,14.95,18.575000,18.275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03,25.150000,24.75,25.35,24.95,13.95,13.45,9.350000,9.45,18.450000,18.150,...,7.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,11.350000,11.45,12.55,12.35,8.85,9.05,8.950000,9.25,10.425000,10.525,...,9.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,11.250000,11.35,13.25,13.05,10.25,10.45,9.850000,9.95,11.150000,11.200,...,9.05,14.150,24.95,7.25,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,14.850000,14.55,15.85,15.65,10.95,11.05,9.850000,9.95,12.875000,12.800,...,9.05,14.190,24.95,9.05,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,17.050000,16.55,20.45,19.95,13.85,13.95,10.050000,10.05,15.350000,15.125,...,9.95,13.560,24.95,9.05,14.096429,24.95,7.25,NaN,NaN,NaN
2000-01-08,22.350000,21.45,27.05,26.55,19.85,19.75,16.050000,16.05,21.325000,20.950,...,9.95,14.120,26.55,9.05,15.289286,26.55,9.05,NaN,NaN,NaN
2000-01-09,25.750024,25.25,28.25,27.85,21.85,21.55,19.550000,19.45,23.850006,23.525,...,10.05,16.720,27.85,9.95,16.039286,27.85,9.05,NaN,NaN,NaN
2000-01-10,26.050000,25.65,30.65,29.95,22.65,22.55,14.650000,14.65,23.500000,23.200,...,14.65,19.120,29.95,9.95,16.760714,29.95,9.05,NaN,NaN,NaN
2000-01-11,27.650000,26.95,29.15,28.55,19.55,19.65,16.050000,16.15,23.100000,22.825,...,14.65,21.125,29.95,10.05,18.517857,29.95,9.95,NaN,NaN,NaN
2000-01-12,25.650000,24.95,31.35,30.35,21.15,21.25,16.150000,16.25,23.575000,23.200,...,14.65,22.740,30.35,14.65,20.232143,30.35,9.95,NaN,NaN,NaN
2000-01-13,28.250000,27.45,30.95,30.25,21.55,21.65,16.550000,16.75,24.325000,24.025,...,16.15,23.355,30.35,14.65,21.835714,30.35,10.05,NaN,NaN,NaN
2000-01-14,28.850000,28.45,34.65,33.75,21.85,21.75,14.450000,14.15,24.950000,24.525,...,14.15,23.555,33.75,14.15,23.178571,33.75,14.15,NaN,NaN,NaN
2000-01-15,26.250000,25.35,27.05,26.85,20.05,19.85,17.350000,17.45,22.675000,22.375,...,14.15,23.390,33.75,14.15,23.382143,33.75,14.15,NaN,NaN,NaN
2000-01-16,19.350000,18.95,22.15,21.75,13.05,13.05,4.750000,4.75,14.825000,14.625,...,4.75,21.750,33.75,4.75,22.110714,33.75,4.75,NaN,NaN,NaN
2000-01-17,22.650000,21.45,28.95,28.45,19.85,19.85,16.650000,16.75,22.025000,21.625,...,4.75,21.435,33.75,4.75,21.885714,33.75,4.75,NaN,NaN,NaN
2000-01-18,27.250000,26.95,34.55,33.85,29.95,29.55,19.850000,19.45,27.900000,27.450,...,4.75,22.120,33.85,4.75,22.546429,33.85,4.75,NaN,NaN,NaN
2000-01-19,20.650000,20.15,26.15,25.25,17.55,17.55,14.850000,14.75,19.800000,19.425,...,14.75,21.100,33.85,4.75,22.007143,33.85,4.75,NaN,NaN,NaN
2000-01-20,20.150000,19.65,25.05,24.45,17.45,17.35,12.550000,12.55,18.800000,18.500,...,12.55,20.325,33.85,4.75,21.217857,33.85,4.75,NaN,NaN,NaN
2000-01-21,13.650000,13.65,15.65,15.45,11.75,11.65,9.550000,9.75,12.650000,12.625,...,9.75,19.925,33.85,9.75,19.517857,33.85,4.75,NaN,NaN,NaN
2000-01-22,13.750000,13.75,14.35,13.95,8.65,8.75,7.350000,7.75,11.025000,11.050,...,7.75,17.810,33.85,7.75,17.900000,33.85,4.75,NaN,NaN,NaN
2000-01-23,13.050000,12.75,14.75,14.25,9.85,9.85,6.450000,6.65,11.025000,10.875,...,6.65,14.495,25.25,6.65,17.364286,33.85,6.65,NaN,NaN,NaN
2000-01-24,17.950000,17.05,22.65,21.85,17.15,16.35,15.650000,14.55,18.350000,17.450,...,6.65,14.100,24.45,6.65,16.767857,33.85,6.65,NaN,NaN,NaN
2000-01-25,17.750000,17.05,19.35,19.85,17.65,17.55,17.450000,17.65,18.050000,18.025,...,6.65,14.005,21.85,6.65,15.421429,25.25,6.65,NaN,NaN,NaN
2000-01-26,19.750000,20.15,18.65,18.55,15.85,15.05,15.550000,14.55,17.450000,17.075,...,14.55,14.895,21.85,6.65,15.085714,24.45,6.65,NaN,NaN,NaN
2000-01-27,16.450000,15.55,17.25,16.75,15.75,14.55,15.050000,13.25,16.125000,15.025,...,13.25,15.690,21.85,6.65,14.589286,21.85,6.65,NaN,NaN,NaN
2000-01-28,16.050000,14.55,16.45,14.75,14.65,13.15,14.550024,12.95,15.425006,13.850,...,12.95,16.285,21.85,12.95,14.764286,21.85,6.65,NaN,NaN,NaN
2000-01-29,15.750000,14.65,16.85,15.45,14.65,12.85,14.250000,12.25,15.375000,13.800,...,12.25,15.555,20.15,12.25,15.157143,21.85,6.65,NaN,NaN,NaN
2000-01-30,15.750000,14.35,17.45,16.35,14.65,12.35,13.450000,11.15,15.325000,13.550,...,11.15,14.660,20.15,11.15,15.539286,21.85,11.15,17.608333,33.85,4.75
2000-01-31,17.150000,15.95,19.25,19.55,15.25,13.85,14.050000,12.25,16.425000,15.400,...,11.15,14.325,19.55,11.15,15.246429,20.15,11.15,17.701667,33.85,4.75

In [24]:
df.shape

(31, 38)